<div class="relative">
  <button type="button"
          (click)="langOpen = !langOpen"
          class="td-icon-btn"
          [attr.aria-label]="'header.cambiarIdioma' | translate">
    <span [innerHTML]="'globe' | svgIcon"></span>
    <span class="lang-badge">{{ currentLang | uppercase }}</span>
  </button>

  <div *ngIf="langOpen" class="td-dropdown">
    <button *ngFor="let lang of LANG_CYCLE"
            type="button"
            (click)="setLang(lang)"
            class="td-dropdown-item"
            [class.is-on]="lang === currentLang">
      <span class="lang-flag">{{ lang | uppercase }}</span>
      <span>{{ LANG_NAMES[lang] }}</span>
      <span *ngIf="lang === currentLang" class="ml-auto" [innerHTML]="'check' | svgIcon:'w-3.5 h-3.5'"></span>
    </button>
  </div>
</div>