<div class="relative"
     (mouseenter)="onMegaEnter()"
     (mouseleave)="onMegaLeave()">

  <!-- Categories trigger button -->
  <button type="button"
          (click)="toggleMega()"
          class="td-mega-trigger">
    <i class="pi pi-th-large text-base"></i>
    <span>{{ 'header.categorias' | translate }}</span>
    <i class="text-xs transition-transform duration-200" [ngClass]="megaOpen ? 'pi pi-chevron-up' : 'pi pi-chevron-down'"></i>
  </button>

  <!-- Mega Menu Panel -->
  <div *ngIf="megaOpen"
       (mouseenter)="onMegaEnter()"
       (mouseleave)="closeMegaPanel()"
       class="td-mega-panel mega-panel-enter">

    <div class="td-mega-grid">
      <!-- Category columns (3 columns) -->
      <div class="td-mega-cols">
        <div *ngFor="let group of categoryGroups" class="td-mega-col">
          <h3>{{ group.label }}</h3>
          <div class="space-y-0.5">
            <a *ngFor="let cat of group.items"
               [routerLink]="['/productos']"
               [queryParams]="{category_id: cat.id}"
               class="td-mega-link">
              <i [ngClass]="'pi ' + getCategoryIcon(cat.slug)" class="text-base flex-shrink-0"></i>
              <span class="truncate">{{ cat.name || cat.slug }}</span>
            </a>
          </div>
        </div>
      </div>

      <!-- Promo panel -->
      <div class="td-mega-promo">
        <div>
          <span class="td-chip">
            <span [innerHTML]="'sparkles' | svgIcon:'w-3 h-3'"></span>
            {{ 'nav.nuevo' | translate }}
          </span>
          <h4 [innerHTML]="'header.coleccionPrimavera' | translate"></h4>
          <p>{{ 'header.renuevaEstilo' | translate }}</p>
        </div>
        <a routerLink="/productos" class="td-link-more">
          {{ 'header.verTodo' | translate }}
          <span [innerHTML]="'arrowRight' | svgIcon:'w-4 h-4'"></span>
        </a>
      </div>
    </div>
  </div>
</div>