<div class="td-atr-block">
  <div class="td-atr-row" *ngIf="brand">
    <span class="td-atr-key">{{ 'product.brand' | translate }}:</span>
    <span class="td-atr-val">{{ brand }}</span>
  </div>
  <div class="td-atr-row" *ngIf="material">
    <span class="td-atr-key">{{ 'product.material' | translate }}:</span>
    <span class="td-atr-val">{{ material }}</span>
  </div>
  <div class="td-atr-row" *ngIf="colors?.length">
    <span class="td-atr-key">{{ 'product.colors' | translate }}:</span>
    <span class="td-atr-val">{{ colors!.join(', ') }}</span>
  </div>
  <div class="td-atr-row" *ngIf="pattern">
    <span class="td-atr-key">{{ 'product.pattern' | translate }}:</span>
    <span class="td-atr-val">{{ pattern }}</span>
  </div>
  <div class="td-atr-row" *ngIf="cut?.length">
    <span class="td-atr-key">{{ 'product.cut' | translate }}:</span>
    <span class="td-atr-val">{{ cut!.join(', ') }}</span>
  </div>
  <div class="td-atr-row" *ngIf="trend">
    <span class="td-atr-key">{{ 'product.trend' | translate }}:</span>
    <span class="td-atr-val">{{ trend }}</span>
  </div>
  <div class="td-atr-row" *ngIf="season">
    <span class="td-atr-key">{{ 'product.season' | translate }}:</span>
    <span class="td-atr-val">{{ season }}</span>
  </div>
  <div class="td-atr-row" *ngIf="target_gender">
    <span class="td-atr-key">{{ 'product.gender' | translate }}:</span>
    <span class="td-atr-val">{{ target_gender }}</span>
  </div>
  <div class="td-atr-row" *ngIf="usage">
    <span class="td-atr-key">{{ 'product.usage' | translate }}:</span>
    <span class="td-atr-val">{{ usage }}</span>
  </div>
</div>