<p-galleria
  *ngIf="images.length > 0"
  [value]="images"
  [responsiveOptions]="galleriaResponsiveOptions"
  [showThumbnails]="images.length > 1"
  [circular]="true"
  [showIndicators]="true"
  [containerStyle]="{'max-width': '100%'}"
>
  <ng-template pTemplate="item" let-item>
    <img [src]="item" [alt]="alt" class="w-full h-64 md:h-96 object-contain bg-gray-50 rounded-lg" />
  </ng-template>
  <ng-template pTemplate="thumbnail" let-item>
    <div class="w-16 h-16 rounded overflow-hidden border-2 border-gray-200 dark:border-gray-700">
      <img [src]="item" [alt]="alt" class="w-full h-full object-cover" />
    </div>
  </ng-template>
</p-galleria>
<div *ngIf="images.length === 0" class="rounded-xl overflow-hidden bg-gray-100 dark:bg-gray-700">
  <img [src]="images[activeImageIndex()] || ''" [alt]="alt" class="w-full h-64 md:h-96 object-contain" loading="eager" />
</div>
