{% extends "base.html" %}
{% block title %}{{ messages.emails.password_reset.subject | default('Password Reset - La Tiendita') }}{% endblock %}
{% block header %}{{ messages.emails.password_reset.subject | default('Password Reset') }}{% endblock %}
{% block content %}
<p>{{ messages.emails.password_reset.greeting | default('Hello') }} {{ user_name }},</p>

<p>{{ messages.emails.password_reset.body | default('Click the link below to reset your password:') }}</p>

<p style="text-align: center;">
    <a href="{{ reset_link }}" class="button">
        {{ messages.emails.password_reset.button | default('Reset Password') }}
    </a>
</p>

<p style="font-size: 13px; color: #888;">
    {{ messages.emails.password_reset.expiry | default('This link expires in 1 hour. If you did not request a password reset, please ignore this email.') }}
</p>
{% endblock %}
